

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .featurette-divider {
     margin: 80px 0;
   }
   img, img.img-responsive {
       margin: 0 auto;
   }
   .carousel .item {
       height: 500px;
       background-color: #777;
   }
   /* Required for scrollspy to work*/
   body {
     position: relative;
   }
   /* The fixed navbar will overlay your other content, unless you add padding to the top of the <body>. Try out your own values or use our snippet below. Pro Tip: By default, the navbar is 50px high.
   body {
     padding-top: 50px;
   }*/
   /* Hotfix the panes with 20px on top*/
   .tab-pane{
     margin: 20px 0;
   }















